<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button  style="margin-right: 1em" pButton type="button" type="button" label="Home" icon="pi pi-home" [routerLink]="['/home']" [routerLinkActive]="['ui-button-success']"></button>
    <button  style="margin-right: 1em" pButton type="button" label="Cards" [routerLink]="['/cards']" [routerLinkActive]="['ui-button-success']"></button>
    <button  style="margin-right: 1em" pButton type="button" label="Search Card by Id" [routerLink]="['/card-by-id']" [routerLinkActive]="['ui-button-success']"></button>
    <button  pButton type="button" label="Search Card by name" [routerLink]="['/card-by-name']" [routerLinkActive]="['ui-button-success']"></button>
    
  </div>
</p-toolbar>

