


<div style="display: grid;justify-items: center">
  
  <input placeholder="title" style="margin:1em;" [(ngModel)]="Movie.title"> 
  <input placeholder="director" style="margin:1em" [(ngModel)]="Movie.director"> 
  <input placeholder="description" style="margin:1em" [(ngModel)]="Movie.description"> 
  <input placeholder="genre" style="margin:1em" [(ngModel)]="Movie.genre"> 
  <input placeholder="year" style="margin:1em" [(ngModel)]="Movie.year"> 
  <button style="margin:1em" (click)="Post()" style="width: 10em" label="Post Movie" pButton type="button" class="ui-button-raised ui-button-rounded"></button>

</div>
