<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button  style="margin-right: 1em" pButton type="button" type="button" label="Home" icon="pi pi-home" [routerLink]="['/home']" [routerLinkActive]="['ui-button-success']"></button>
    <button  style="margin-right: 1em" pButton type="button" label="GET" [routerLink]="['/get']" [routerLinkActive]="['ui-button-success']"></button>
    <button  style="margin-right: 1em" pButton type="button" label="POST" [routerLink]="['/post']" [routerLinkActive]="['ui-button-success']"></button>
  </div>
</p-toolbar>

